@keyframes footer-heart {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
}

footer {
  padding: var(--gap-sm) 0;
  font-size: var(--font-size-sm);
  text-align: right;
}

footer .footer__heart {
  display: inline-block;
  font-size: var(--font-size-md);
  animation: footer-heart 1s linear infinite alternate;
}
