header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: var(--font-size-md);
  font-weight: bold;
  letter-spacing: -3px;
}

nav a {
  font-size: var(--font-size-sm);
}
