.home main, .home section {
  opacity: 0;
  transition: opacity var(--transition-speed-slow) ease var(--transition-speed-super-fast);
}

.home main {
  height: 85vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.home__quote {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: normal;
}

.home section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.home article {
  min-height: 200px;
  width: 100%;
  margin: var(--gap-sm) 0;
}

.home article img {
  width: 100%;
}
