@import "scaffolidng.css";
@import "home.css";
@import "header.css";

:root {
  --primary-light: #eae7ee;
  --primary-dark: #2f3644;
  
  --main-bg-color: var(--primary-light);
  --main-txt-color: var(--primary-dark);
  
  --gap-lg: 32px;
  --gap-md: 16px;
  --gap-sm: 12px;
  
  --font-family-primary: Gill Sans, sans-serif;
  --font-family-secondary: Courier New, monospace;
  --font-size-xl: 72px;
  --font-size-lg: 56px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: var(--primary-dark);
    --main-txt-color: var(--primary-light);
  }
}
