* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: var(--gap-sm);
  font-family: var(--font-family-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}
