* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  padding: 0 var(--gap-sm);
  font-family: var(--font-family-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

img {
  opacity: 0;
  transition: opacity var(--transition-speed-slow) ease;
}

img.completed {
  opacity: 1;
}

.show--opacity {
  opacity: 1!important;
}

.show--translate {
  transform: translateY(0)!important;;
}
