/* COLORS:
    - dirty white: #fff5de
    - night blue: #050047

*/

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fff5de;
    border: 10px solid #050047;
    
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.2em;
    
    color: #050047;
}

.animate-body{
    animation: body-border-none 1s forwards;
}

.animate-body-off{
    animation: body-border-none-off 1s forwards;
}

@keyframes body-border-none{
    0%{
        border: 10px solid #050047;
        height: 100%;
    }
    100%{
        border: none;
        height: auto;
    }
}

@keyframes body-border-none-off{
    0%{
        border: none;
        height: auto;
    }
    100%{
        border: 10px solid #050047;
        height: 100%;
    }
}

h1, h2, h3{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    line-height: 1.5em;
    letter-spacing: 8px;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2.5em;
    text-align: center;
    line-height: 100px;
}

h3{
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
}

p{
    margin-bottom: 10px;
}

a{
    color: #050047;
}

a:hover{
    color: #050047;
    text-decoration: underline;
}

.piu div{
    width: 35px;
    height: 35px;
    
    position: fixed;
    
    z-index: 2;
}

.top-left{
    border-top: 10px solid #050047;
    border-left: 10px solid #050047;
    top: 50%;
    left: 50%;
}

.animate-top-left{
    animation: top-left 1.5s forwards;
}

.animate-top-left-off{
    animation: top-left-off 1s forwards;
}

.top-right{
    border-top: 10px solid #050047;
    border-right: 10px solid #050047;
    top: 50%;
    left: 50%;
    margin-left: -25px;
}

.animate-top-right{
    animation: top-right 1.5s forwards;
}

.animate-top-right-off{
    animation: top-right-off 1s forwards;
}

.bottom-left{
    border-bottom: 10px solid #050047;
    border-left: 10px solid #050047;
    top: 50%;
    left: 50%;
    margin-top: -25px;
}

.animate-bottom-left{
    animation: bottom-left 1.5s forwards;
}

.animate-bottom-left-off{
    animation: bottom-left-off 1s forwards;
}

.bottom-right{
    border-bottom: 10px solid #050047;
    border-right: 10px solid #050047;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.animate-bottom-right{
    animation: bottom-right 1.5s forwards;
}

.animate-bottom-right-off{
    animation: bottom-right-off 1s forwards;
}

@keyframes top-left{
    0%{
        top: 50%;
        left: 50%;
    }
    100%{
        top: 20px;
        left: 20px;
    }
}

@keyframes top-right{
    0%{
        top: 50%;
        left: 50%;
        margin-left: -25px;
    }
    100%{
        top: 20px;
        left: 100%;
        margin-left: -55px;
    }
}

@keyframes bottom-left{
    0%{
        top: 50%;
        left: 50%;
        margin-top: -25px;
    }
    100%{
        top: 100%;
        left: 20px;
        margin-top: -55px;
    }
}

@keyframes bottom-right{
    0%{
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
    100%{
        top: 100%;
        left: 100%;
        margin-left: -55px;
        margin-top: -55px;
    }
}

@keyframes top-left-off{
    0%{
        top: 20px;
        left: 20px;
    }
    100%{
        top: 50%;
        left: 50%;
    }
}

@keyframes top-right-off{
    0%{
        top: 20px;
        left: 100%;
        margin-left: -55px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-left: -25px;
    }
}

@keyframes bottom-left-off{
    0%{
        top: 100%;
        left: 20px;
        margin-top: -55px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-top: -25px;
    }
}

@keyframes bottom-right-off{
    0%{
        top: 100%;
        left: 100%;
        margin-left: -55px;
        margin-top: -55px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.bio{
    position: absolute;
    bottom: 0;
    
    padding: 10px;
    opacity: 1;
    
    z-index: 2;
}

.bio a{
    text-decoration: underline;
}

.animate-bio{
    animation: bio .5s forwards;
}

.animate-bio-off{
    animation: bio-off .5s forwards;
}

@keyframes bio{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes bio-off{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.close-X{
    width: 30px;
    height: 30px;
    background-image: url(../img/x.png);
    
    position: fixed;
    top: 50px;
    left: 100%;
    margin-left: 80px;
    
    z-index: 2;
}

.animate-close-X{
    animation: close-X .5s forwards 1.7s;
}

.animate-close-X-off{
    animation: close-X-off .5s backwards;
}

@keyframes close-X{
    0%{
        margin-left: 80px;
    }
    100%{
        margin-left: -80px;
    }
}

@keyframes close-X-off{
    0%{
        margin-left: -80px;
    }
    100%{
        margin-left: 80px;
    }
}



/* SECTION - In the section there is my projects and at the end of the page there is my CV and contact */

section{
    height: 100%;
    overflow: hidden;
    
    padding: 50px;
    opacity: 0;
    
    font-size: 0;
    
    z-index: 0;
}

section h2{
    font-size: 32.5px;
}

section h3{
    font-size: 19.5px;
}

section p{
    font-size: 13px;
    text-align: center;
}

section a{
    text-decoration: underline;
}

.animate-section{
    animation: section-box .5s forwards 1.5s;
}

@keyframes section-box{
    0%{
        opacity: 0;
        height: 100%;
        overflow: hidden;
    }
    100%{
        opacity: 1;
        height: auto;
        overflow: visible;
    }
}

.animate-section-off{
    animation: section-box-off .5s forwards;
}

@keyframes section-box-off{
    0%{
        opacity: 1;
        height: auto;
        overflow: visible;
    }
    100%{
        opacity: 0;
        height: 100%;
        overflow: hidden;
    }
}

article{
    display: inline-block;
    width: 47.5%;
    height: 350px;
    
    margin-bottom: 4%;
    margin-right: 5%;
    
    background-color: cadetblue;
}

article.no-margin-right{
    margin-right: 0;
}














