/* COLORS:
    - dirty white: #fff5de
    - night blue: #050047

    v2:
    - white: #fafafa
    - black/gray: #312c32

    v3:
    -blue: 0028ff - rgb(0,40,255)
*/



/* GLOBAL SELECTORS */

html{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    border: 10px solid #0028ff;
    
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.2em;
    
    color: #0028ff;
    
    transition: border .5s ease;
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 5px;
}

h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2{
    font-size: 2.5em;
    text-align: center;
    line-height: 100px;
}

h3{
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

p{
    margin-bottom: 10px;
    line-height: 18px;
}

a{
    color: #0028ff;
}

a:hover{
    color: #0028ff;
    text-decoration: underline;
}



/* HELPER CLASSES */

.text-center{
    text-align: center;
}

.noBorderBody{
    border: 0px solid #0028ff;
}

.heightAuto{
    height: auto;
}

.display{
    display: inherit;
}

.no-display{
    display: none;
}



/* INDEX */

.piu div{
    width: 35px;
    height: 35px;
    
    position: absolute;
    
    z-index: 2;
}

.transition-for-plus{
    transition: all 1.5s ease;
    transition-property: top, left, bottom, right, margin, position;
}

.top-left{
    border-top: 10px solid #0028ff;
    border-left: 10px solid #0028ff;
    
    top: 50%;
    left: 50%;
}

.top-right{
    border-top: 10px solid #0028ff;
    border-right: 10px solid #0028ff;
    
    top: 50%;
    left: 50%;
    margin-left: -25px;
}

.bottom-left{
    border-bottom: 10px solid #0028ff;
    border-left: 10px solid #0028ff;
    
    top: 50%;
    left: 50%;
    margin-top: -25px;
}

.bottom-right{
    border-bottom: 10px solid #0028ff;
    border-right: 10px solid #0028ff;
    
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.expandPlus .top-left{
    position: fixed;
    top: 20px;
    left: 20px;
}

.expandPlus .top-right{
    position: fixed;
    top: 20px;
    left: 100%;
    margin-left: -55px;
}

.expandPlus .bottom-left{
    position: fixed;
    top: 100%;
    left: 20px;
    margin-top: -55px;
}

.expandPlus .bottom-right{
    position: fixed;
    top: 100%;
    left: 100%;
    margin-left: -55px;
    margin-top: -55px;
}

.white-brackets{
    border-color: white;
}

.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    width: 80px;
    height: 80px;
    
    background: url(../img/circle.png) center no-repeat;
    background-size: cover;
    
    opacity: 1;
    
    z-index: 1;
    
    transition: all .5s;
}

.animate-circle-movement{
    animation: circle-movement .8s ease .5s infinite alternate;
}

@keyframes circle-movement{
    0%{
    }
    
    100%{
        transform: scale(1.1);
    }
}

.bio{
    position: absolute;
    bottom: 0;
    
    padding: 20px;
    
    opacity: 1;
    
    z-index: 2;
    
    transition: all .5s;
}

.bio a{
    text-decoration: underline;
}

.version-box{
    position: absolute;
    bottom: 0;
    right: 0;
    
    padding: 20px;
    
    opacity: 1;
    
    z-index: 2;
    
    transition: all .5s;
    font-size: 0.7em;
    
    display: none;
}

.hide{
    opacity: 0;
}

.close-X{
    width: 30px;
    height: 30px;
    background-image: url(../img/x.png);
    
    position: fixed;
    top: 50px;
    left: 100%;
    margin-left: 80px;
    
    z-index: 2;
    transition: margin .5s ease;
}

.x-white{
    background-image: url(../img/x-white.png);
}

.animate-x{
    margin-left: -80px;
    transition: margin .5s ease 1.7s;
}



/* PROJECTS - In the Projects page there is my projects and at the end of the page there is the about section */

section{
    padding: 50px;
    
    font-size: 0;
    
    z-index: 0;
}

section h1{
    font-size: 28px;
    text-align: center;
    line-height: 100px;
}

section h2{
    font-size: 35px;
}

section h3{
    font-size: 28px;
    letter-spacing: 3px;
}

section h4{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-weight: 100;
    margin: 20px 0 10px 0;
}

section p, section li, section a{
    font-size: 14px;
    line-height: 18px;
}

section a{
    text-decoration: underline;
}

.wrapper-projects-about{
    max-width: 1800px;
    margin: 0 auto;
    
    opacity: 0;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    
    /*transition: all .5s ease;*/
}

.projects{
    
}

.projects article{
    display: inline-block;
    width: 47.5%;
    min-height: 350px;
    
    vertical-align: top;
    
    margin-bottom: 4%;
    margin-right: 5%;
}

.projects article.no-margin-right{
    margin-right: 0;
}

.projects article a{
    position: relative;
    display: block;
    text-decoration: none;
}

.projects article img{
    width: 100%;
}

.bg-hover{
    position: absolute;
    top: 5%;
    left: 3.5%;
    
    width: 93%;
    height: 90%;
    
    background-color: #0028ff;
    opacity: 0;
    
    transition: all 0s linear;
}

.piu-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    
    background: url(../img/piu-projects-white.png) center no-repeat;
    background-size: cover;
    
    opacity: 0;
    
    z-index: 1;
    
    transition: all .2s linear;
}

.circle-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    
    background: url(../img/circle-projects-white.png) center no-repeat;
    background-size: cover;
    
    opacity: 0;
    
    z-index: 1;
    
    transition: all .2s linear;
}

.projects article a:hover .bg-hover{
    opacity: .5;
}

.projects article a:hover .piu-projects{
    opacity: 1;
}

.projects article a:hover .circle-projects{
    animation: circle-movement .8s ease .5s infinite alternate;
    opacity: 1;
}



/* ABOUT */

.about{
    color: #fafafa;
    background-color: rgb(0,40,255);
    padding: 0;
    
    display: flex;
    flex-flow: row nowrap;
}

.about a{
    color: #fafafa;
}

.about p{
    margin-bottom: 30px;
}


.about-img{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    
    background: url('../img/about-img.jpg');
    background-size: cover;
    background-position: center;
}

.about-img:hover{
    background: url('../img/about-gif.gif');
    background-size: cover;
    background-position: center;
}

.about-content{
    width: 50%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    
    position: relative;
    
    vertical-align: top;
    
    padding: 30px 50px;
}

.about-content > div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px;
}

.about-content > div h3, .about-content > div h4{
    text-align: left;
}

.show{
    opacity: 1;
    height: auto;
    overflow: visible;
    visibility: visible;
    
    transition: all .5s ease 1.5s;
}

.footer{
    font-size: 11px;
    position: absolute;
    bottom: 40px;
    right: 50px;
}



/* SINGLE PROJECT */

.back-to-projects{
    text-align: left;
    position: fixed;
    padding: 5px;
        
    background-color: #fafafa;
        
    z-index: 1;
}

.single-project{
    max-width: 1500px;
    margin: 0 auto;
    
    position: relative;
    
}

.intro-project{
    width: 100%;
    text-align: center;
}

.intro-project img{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.intro-project img.phone{
    max-width: 270px;
}

.bulbpoint-project{
    width: 90%;
    margin: 0 auto;
}

.bulbpoint-project section{
    display: inline-block;
    width: 33%;
    padding: 30px 50px;
    
    vertical-align: top;
}

.bulbpoint-project section img{
    width: 14px;
}

.content-project{
    display: inline-block;
    width: 100%;
    
    padding: 30px 0;
    
    vertical-align: top;
    text-align: center;
}

.content-project img{
    width: 90%;
    outline: 1px solid #d8d8d8;
}

.content-more-pictures{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.content-more-pictures img{
    width: 22%;
}

.mobile-video-box{
    display: inline-block;
    position: relative;
    width: 310px;
    height: 633px;
    background-image: url(../img/iphone6-mockup.png);
    background-size: contain;
}

.samsung-video-box{
    background-image: url(../img/s7edge-mockup.png);
    background-size: contain;
}

.mobile-video-box .circle-projects{
    background: url(../img/circle.png) center no-repeat;
    background-size: cover;
    animation: circle-movement .8s ease .5s infinite alternate;
    opacity: 1;
}

.play-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -6px;
    width: 21px;
    height: 29px;
    
    background: url(../img/play.png) center no-repeat;
    background-size: cover;
    
    z-index: 2;
}

.pause-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -10px;
    width: 21px;
    height: 29px;
    
    background: url(../img/pause.png) center no-repeat;
    background-size: cover;
    
    opacity: 1;
    
    z-index: 1;
}

.mobile-video-box video{
    position: absolute;
    top: 75px;
    left: 17px;
}

#mobile-controller-pause{
    opacity: 0;
}

.mobile-video-box:hover #mobile-controller-pause{
    opacity: 1;
}

.description-project{
    width: 100%;
    max-width: 700px;
    
    margin: 0 auto;
    padding: 30px 0;
}

.related-projects article{
    display: inline-block;
    width: 30%;
    min-height: 350px;
    
    vertical-align: top;
    
    margin-bottom: 4%;
    margin-right: 5%;
}

.related-projects article.no-margin-right{
    margin-right: 0;
}

.related-projects article a{
    position: relative;
    display: block;
    text-decoration: none;
}

.related-projects article img{
    width: 100%;
}

.related-projects article a:hover .bg-hover{
    opacity: .5;
}

.related-projects article a:hover .piu-projects{
    opacity: 1;
}

.related-projects article a:hover .circle-projects{
    animation: circle-movement .8s ease .5s infinite alternate;
    opacity: 1;
}












/****** MEDIA QUERIES ******/



/* Screens smaller than 1280px */

@media(max-width: 1280px){
    
    .about-content{
        padding: 10px;
    }


}



/* Screens smaller than 930px */

@media(max-width: 960px){
    
    /* INDEX */
    
    h1, h2{
        font-size: 2em;
        letter-spacing: 5px;
    }
    
    /* PROJECTS */
    
    section h2{
        font-size: 28px;
    }
    
    section h4{
        font-size: 14px;
    }
    
    section p, section li{
        font-size: 13px;
    }
    
    /* ABOUT */
    
    .about{
        display: block;
    }

    .about-img{
        width: 100%;
        padding-top: 80%;
    }

    .about-content{
        width: 100%;
        display: block;
        padding: 50px;
    }

    .about-content > div{
        width: 50%;
        display: inline-block;
    }

    .about-content > div h3, .about-content > div h4{
        text-align: left;
    }
    
    /* SINGLE PROJECT */
    
    .bulbpoint-project{
        width: 100%;
    }
    
    .bulbpoint-project section{
        padding: 20px;
    }
    
    .content-project img{
        width: 100%;
    }
    
    .content-more-pictures{
        width: 100%;
        margin: 0 auto;
    }

    .content-more-pictures img{
        width: 45%;
        margin-bottom: 20px;
    }   
}



/* Screens smaller than 560px */

@media(max-width: 560px){
    
    /* PROJECTS */
    
    section h3{
        font-size: 21px;
    }
    
    .projects article a:hover .bg-hover{
        opacity: 0;
    }

    .projects article a:hover .piu-projects{
        opacity: 0;
    }

    .projects article a:hover .circle-projects{
        opacity: 0;
    }

    /* ABOUT */
    
    .about-img{
        background: url('../img/about-gif.gif');
        background-size: cover;
        background-position: center;
    }
    
    .about-content{
        padding: 10px;
    }
    
    /* SINGLE PROJECT */
    
    .bulbpoint-project{
        padding: 20px 0;
    }

    .bulbpoint-project section{
        width: 100%;
        padding: 0;
    }
    
    .related-projects article{
        width: 100%;

        margin-bottom: 4%;
        margin-right: 0;
    }
    
    .mobile-video-box{
        display: none;
    }
    
}



/* Screens smaller than 460px */

@media(max-width: 460px){
    
    /* INDEX */
    
    body{
        border: 5px solid #0028ff;
    }
    
    h1, h2{
        font-size: 1.5em;
        letter-spacing: 5px;
    }
    
    .bio{
        padding: 10px;
    }
    
    .circle{
        margin-top: -30px;
        margin-left: -30px;
        width: 60px;
        height: 60px;
    }
    
    .piu div{
        width: 20px;
        height: 20px;
    }
    
    .top-left{
        border-top: 3px solid #0028ff;
        border-left: 3px solid #0028ff;
    }

    .top-right{
        border-top: 3px solid #0028ff;
        border-right: 3px solid #0028ff;
        
        margin-left: -20px;
    }

    .bottom-left{
        border-bottom: 3px solid #0028ff;
        border-left: 3px solid #0028ff;
        
        margin-top: -20px;
    }

    .bottom-right{
        border-bottom: 3px solid #0028ff;
        border-right: 3px solid #0028ff;
        
        margin-left: -20px;
        margin-top: -20px;
    }
    
    .white-brackets{
        border-color: white;
    }
    
    .expandPlus .top-left{
        top: 5px;
        left: 5px;
    }

    .expandPlus .top-right{
        top: 5px;
        left: 100%;
        margin-left: -25px;
    }

    .expandPlus .bottom-left{
        top: 100%;
        left: 5px;
        margin-top: -25px;
    }

    .expandPlus .bottom-right{
        top: 100%;
        left: 100%;
        margin-left: -25px;
        margin-top: -25px;
    }
    
    .close-X{
        background-image: url(../img/x-mobile.png);
        background-size: contain;
        top: 30px;
        margin-left: 60px;
    }
    
    .animate-x{
        margin-left: -60px;
    }
    
    .x-white{
        background-image: url(../img/x-mobile-white.png);
    }

    /* PROJECTS */
    
    section{
        padding: 10px;
    }
    
    section h2{
        font-size: 18px;
    }
    
    .projects article{
        width: 100%;
        margin-right: 0;
        min-height: 0;
        margin-bottom: 15%;
    }
    
    /* ABOUT */

    .about-content{
        padding: 10px;
    }

    .about-content > div{
        width: 100%;
        display: block;
    }
    
    .footer{
        font-size: 10px;
        bottom: 20px;
        right: 25px;
    }

    /* SINGLE PROJECT */
    
    .back-to-projects{
        left: 0;
        top: 0;
        display: block;
        
        padding: 10px;
        width: 100%;
        
        text-align: center;
        
        background-color: #fafafa;
        
        z-index: 1;
    }
    
    section h1{
        font-size: 18px;
    }
    
    .intro-project img.phone{
        max-width: 150px;
    }
    
    .description-project{
        width: 100%;
        padding: 20px 0;
    }
    
    .content-more-pictures img{
        width: 90%;
        margin: 20px auto;
    }  
    
    .related-projects{
        padding: 0 0 20px 0;
    }
    
}