/* COLORS:
    - dirty white: #fff5de
    - night blue: #050047

    v2:
    - white: #fafafa
    - black/gray: #312c32

    v3:
    -blue: 0028ff - rgb(0,40,255)
*/



/* GLOBAL SELECTORS */

html{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;

    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2em;

    color: #0028ff;

    transition: all .3s ease;
}

h1, h2, h3{
    font-family: "Bitter", serif;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 5px;
}

h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2{
    font-size: 2.5em;
    text-align: center;
    margin: 60px 0;
}

h3{
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

p{
    margin-bottom: 10px;
    line-height: 1.5em;
}

a{
    color: #0028ff;
}

a:hover{
    color: #0028ff;
    text-decoration: underline;
}



/* HELPER CLASSES */

.text-center{
    text-align: center;
}

.noBorderBody{
    border: 0px solid #0028ff;
}

.heightAuto{
    height: auto;
}

.display{
    display: inherit;
}

.no-display{
    display: none;
}



/* HEADER */

header{
    width: 100%;
    padding: 0 70px;
    position: relative;
    height: 70px;
    font-family: "Bitter", serif;
    z-index: 1;
}

header .logo{
    position: fixed;
    top: 20px;
    left: 70px;
    width: 60px;
    height: 39px;
}

header h1{
    font-size: 0;
    margin: 0;
}

header a, header a:hover{
    text-decoration: none;
}

header ul{
    padding: 0;
    text-align: right;
    top: 50px;
    right: -80px;
    margin-top: 0px;
    transition: right .1s ease;
}

header ul li{
    position: relative;
    display: inline-block;
    margin: 20px 0 20px 20px;
}

header ul li a{
    font-size: .70em;
    z-index: 1;
    position: relative;
}

header ul li.selected .nav-border,
header ul li:hover .nav-border{
    transform: scaleX(1);
}

.nav-border{
    position: absolute;
    height: 25px;
    width: 100%;
    border-bottom: 2px solid rgb(0,40,255);
    transform: scaleX(0);
    transition: transform .1s ease;
    z-index: 0;
}

header ul.side{
    position: fixed;
    right: -40px;
    top: 50px;
    transform: rotate(90deg);
}



/* INDEX */

.hide{
    opacity: 0;
}

.contact a{
    margin-right: 8px;
}



/* PROJECTS - In the Projects page there is my projects and at the end of the page there is the about section */

section{
    padding: 0 70px 50px 70px;

    font-size: 0;

    z-index: 0;
}

section h1{
    font-size: 42px;
    text-align: center;
    margin: 40px 0;
}

section h2{
    font-size: 35px;
}

section h3{
    font-size: 28px;
    letter-spacing: 3px;
    margin: 20px 0 10px 0;
}

section h4{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-weight: 100;
    margin: 10px 0 5px 0;
}

section li{
    font-size: 16px;
}

section p{
    font-size: 20px;
    line-height: 1.5em;
}

section a{
    text-decoration: underline;
}

.wrapper-projects-about{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects{
    max-width: 1800px;
    margin: 0 auto;
}

.projects article{
    display: inline-block;
    width: 47.5%;
    min-height: 350px;

    vertical-align: top;

    margin-bottom: 4%;
    margin-right: 5%;

    position: relative;
    overflow: hidden;
}

.projects article.no-margin-right{
    margin-right: 0;
}

.projects article a{
    position: relative;
    display: block;
    text-decoration: none;
}

.projects article p{
    font-size: 14px;
}

.projects article img{
    width: 100%;
}

.project{
    width: 100%;
    /*height: 350px;*/
    padding-bottom: 70%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,40,255,.2);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}

.project.animation-bg{
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}

.wrapper-project{
    overflow: hidden;
}

/*Loading*/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(40deg);
  }
  70%{
    transform: rotate(320deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: .25rem solid rgba(255,255,255, 0.2);
    border-top-color: white;
    animation: spin .8s infinite linear;
}

.textarea-container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.header-code {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 40px #2f3644;
}

.header-code span {
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.header-code span:nth-child(1) {
    background-color: #FA6058;
}

.header-code span:nth-child(2) {
    background-color: #FCBD2E;
}

.header-code span:nth-child(3) {
    background-color: #30CB40;
}

textarea.code {
    width: 100%;
    height: 55vh;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Courier, Serif;
    color: #fafafa;
    background-color: #2f3644;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 8px 40px #2f3644;
}

textarea:focus {
    outline: none;
}



/* ABOUT */

.description{
    font-family: "Bitter", serif;
    font-size: 2em;
    font-weight: 700;
    width: 70%;

    max-width: 800px;
    margin: 0 10% 80px 20%;
    padding: 100px 0;
    text-align: left;
}

.description span{
    color: #fafafa;
    background-color: rgb(0,40,255);
}

.about{
    color: #fafafa;
    background-color: rgb(0,40,255);
    padding: 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.about a{
    color: #fafafa;
}

.about p{
    margin-bottom: 30px;
    font-size: 16px;
}


.about-img{
    width: 50%;
    display: inline-block;
    vertical-align: top;

    background: url('./../../img/about-img.jpg');
    background-size: cover;
    background-position: center;
}

.about-content{
    width: 50%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    position: relative;

    vertical-align: top;

    padding: 30px 50px;
}

.about-content > div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px;
}

.about-content > div h3{
    text-align: left;
    margin: 20px 0;
}

.about-content > div h4{
    text-align: left;
    margin: 10px 0;
}

.about-content > div a{
    font-size: 16px;
}

.footer{
    font-size: 11px;
    position: absolute;
    bottom: 40px;
    right: 50px;
}



/* SINGLE PROJECT */

.back-to-projects{
    text-align: left;
    position: fixed;
    padding: 5px;

    background-color: #fafafa;

    z-index: 1;
}

.single-project{
    max-width: 1500px;
    margin: 0 auto;

    position: relative;

}

.intro-project{
    width: 100%;
    text-align: center;
}

.intro-project img{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.intro-project img.phone{
    max-width: 270px;
}

.bulbpoint-project{
    width: 90%;
    margin: 0 auto;
}

.bulbpoint-project section{
    display: inline-block;
    width: 33%;
    padding: 30px 50px;

    vertical-align: top;
}

.bulbpoint-project section img{
    width: 14px;
}

.bulbpoint-project section p{
    font-size: 16px;
}

.content-project{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    padding: 30px 0;

    vertical-align: top;
    text-align: center;
}

.content-project img{
    width: 100%;
    outline: 1px solid #d8d8d8;
}

.content-project img.no-border {
  outline: 0px solid;
}

.content-more-pictures{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

.content-more-pictures img{
    width: 22%;
}

.content-more-pictures-due img{
    width: 45%;
}

.content-more-pictures-tre img{
    width: 30%;
}

.mobile-video-box{
    display: inline-block;
    position: relative;
    width: 310px;
    height: 633px;
    background-image: url(./../../img/iphone6-mockup.png);
    background-size: contain;
}

.samsung-video-box{
    background-image: url(./../../img/s7edge-mockup.png);
    background-size: contain;
}

.mobile-video-box .circle-projects{
    background: url(./../../img/circle.png) center no-repeat;
    background-size: cover;
    -webkit-animation: circle-movement .8s ease .5s infinite alternate;
    animation: circle-movement .8s ease .5s infinite alternate;
    opacity: 1;
}

.play-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -6px;
    width: 21px;
    height: 29px;

    background: url(./../../img/play.png) center no-repeat;
    background-size: cover;

    z-index: 2;
}

.pause-projects{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -10px;
    width: 21px;
    height: 29px;

    background: url(./../../img/pause.png) center no-repeat;
    background-size: cover;

    opacity: 1;

    z-index: 1;
}

.mobile-video-box video{
    position: absolute;
    top: 75px;
    left: 17px;
}

#mobile-controller-pause{
    opacity: 0;
}

.mobile-video-box:hover #mobile-controller-pause{
    opacity: 1;
}

.description-project{
    max-width: 700px;
    margin: 0 10% 80px 20%;
    padding: 30px 0;
}

.related-projects article{
    display: inline-block;
    width: 30%;

    vertical-align: top;

    margin-bottom: 4%;
    margin-right: 5%;
}

.related-projects article.no-margin-right{
    margin-right: 0;
}

.related-projects article a{
    position: relative;
    display: block;
    text-decoration: none;
}

.related-projects article img{
    width: 100%;
}

.related-projects article a:hover .bg-hover{
    opacity: .5;
}

.related-projects article a:hover .piu-projects{
    opacity: 1;
}

.related-projects article a:hover .circle-projects{
    -webkit-animation: circle-movement .8s ease .5s infinite alternate;
    animation: circle-movement .8s ease .5s infinite alternate;
    opacity: 1;
}



/* Changing to dark theme when reach the about section */

body.dark{
    background-color: rgb(0,40,255);
    color: #fafafa;
}

body.dark a{
    color: #fafafa;
}

body.dark header .logo #logo{
    fill: #fafafa;
}

body.dark .nav-border{
    border-bottom: 2px solid #fafafa;
}

body.dark .description{
    color: #fafafa;
}

body.dark .description span{
    color: rgb(0,40,255);
    background-color: #fafafa;
}













/****** MEDIA QUERIES ******/



/* Screens smaller than 1280px */

@media(max-width: 1280px){

    .about-content{
        padding: 10px;
    }


}



/* Screens smaller than 930px */

@media(max-width: 960px){

    /* INDEX */

    h1, h2{
        font-size: 2em;
        letter-spacing: 5px;
    }

    .description{
        width: 90%;
        margin: 0 5%;
        padding: 100px 0;
        text-align: left;
    }

    /* PROJECTS */

    section h2, section h1{
        font-size: 28px;
    }

    section h3{
        font-size: 21px;
    }

    section h4{
        font-size: 14px;
    }

    .description-project{
        max-width: 700px;
        margin: 0 10%;
        padding: 30px 0;
    }


    /* ABOUT */

    .about{
        display: block;
    }

    .about-img{
        width: 100%;
        padding-top: 80%;
    }

    .about-content{
        width: 100%;
        display: block;
        padding: 50px;
    }

    .about-content > div{
        width: 50%;
        display: inline-block;
    }

    .about-content > div h3, .about-content > div h4{
        text-align: left;
    }

    /* SINGLE PROJECT */

    .bulbpoint-project{
        width: 100%;
    }

    .bulbpoint-project section{
        padding: 20px;
    }

    .content-project img{
        width: 100%;
    }

    .content-more-pictures{
        width: 100%;
        margin: 0 auto;
    }

    .content-more-pictures img{
        width: 45%;
        margin-bottom: 20px;
    }
}



/* Screens smaller than 560px */

@media(max-width: 560px){

    .description{
        font-size: 1.5em;
        font-weight: 700;
    }

    /* PROJECTS */

    .projects article a:hover .bg-hover{
        opacity: 0;
    }

    .projects article a:hover .piu-projects{
        opacity: 0;
    }

    .projects article a:hover .circle-projects{
        opacity: 0;
    }

    .projects article{
        width: 100%;
        margin-right: 0;
        min-height: 0;
        margin-bottom: 15%;
    }

    /* ABOUT */

    .about-content{
        padding: 10px;
    }

    /* SINGLE PROJECT */

    .bulbpoint-project{
        padding: 20px 0;
        text-align: center;
    }

    .bulbpoint-project section{
        width: 100%;
        padding: 0;
    }

    .related-projects article{
        width: 100%;

        margin-bottom: 4%;
        margin-right: 0;
    }

    .mobile-video-box, .video-link{
        display: none;
    }

}



/* Screens smaller than 460px */

@media(max-width: 460px){

    /* INDEX */

    h1, h2{
        letter-spacing: 5px;
    }

    header{
        padding: 0 10px;
    }

    header .logo{
        left: 10px;
    }

    header ul{
        display: none;
    }

    .description{
        font-size: 1.2em;
    }

    /* PROJECTS */

    section{
        padding: 10px;
    }

    .projects article{
        width: 100%;
        margin-right: 0;
        min-height: 0;
        margin-bottom: 15%;
    }

    /* ABOUT */

    .about-content{
        padding: 10px;
    }

    .about-content > div{
        width: 100%;
        display: block;
    }

    .footer{
        font-size: 10px;
        bottom: 20px;
        right: 25px;
    }

    /* SINGLE PROJECT */

    .back-to-projects{
        left: 0;
        top: 0;
        display: block;

        padding: 10px;
        width: 100%;

        text-align: center;

        background-color: #fafafa;

        z-index: 1;
    }

    .intro-project img.phone{
        max-width: 150px;
    }

    .description-project{
        width: 100%;
        padding: 20px 0;
        margin: 0;
    }

    .content-more-pictures img{
        width: 100%;
        margin: 20px auto;
    }

    .related-projects{
        padding: 0 0 20px 0;
    }

}
