body {
  font-family: monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section, h4 {
  width: 100%;
  max-width: 400px;
}

section {
  display: inline-block;
  margin: 20px 0;
  img {
    width: 100%;
  }
}
