body {
  font-family: "Courier New", monospace;
}

img {
  max-width: 100%;
}

h2 {
  margin: 50px 0 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

article {
  max-width: 1000px;
  
  img {
    margin: 50px 0 20px 0;
  }
}
