body {
  font-family: "Courier New", monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  img {
    width: 100%;
  }
}

article {
  max-width: 1000px;
}
