* {
	box-sizing: border-box;
	color: black;
}

body {
	background-color: #ededed;
}

a.inactive {
	color: $text-inactive-color !important;
}

ul {
	margin: 0;
	list-style: none;
	li {
		display: inline-block;
	}
}

ul.social {
	li {
		margin-left: 5px; 
	}
}

input {
	padding: 5px 0;
	margin: 5px 0;
	font-size: 14px;
	color: black;
	font-weight: $bold-font-weight;
	border-bottom: 1px solid black;
}


button {
	color: black;
	font-size: 14px;
	padding: 5px 0;
	margin-top: 15px;
	font-weight: $bold-font-weight;
	border-bottom: 1px solid black;
	width: 25%;
	text-align: left;
}

button.clear-filters {
	border-bottom: 0;
	color: $text-inactive-color;
	font-weight: $base-font-weight;
	font-size: 16px;
	width: 120px;

	width: 48%;
    text-align: right;
}

p.filter-label {
	width: 50%;
    display: inline-block;
}

.filters{
	font-size: 36px;

	
	.filters-box{
		opacity: 0;
		-webkit-transition: opacity .5s ease;
		transition: opacity .5s ease;
		a{
			color: $text-inactive-color;
			margin-right: 40px;
			@media (max-width: $screen-xs-max) {
				display: block;
			}
		}
		a.call-to-action{
			color: white;
		}
		a.call-to-action.black {
			color: black;
		}
	}
	.filters-box.show{
		opacity: 1;
	}
}

.arrow{
	width: 35px;
	@media (max-width: $screen-sm-max) {
		width: 25px;
	}
}

.rotate-arrow{
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}


.item-caption {
	h5 {
		float: left;
	}
	p {
		float: right;
		padding-top: 15px;
		font-size: 18px;
		color: $text-inactive-color;
	}
}

