footer {
	position: relative;
	padding: 24px 60px;
	padding-bottom: 60px;
	vertical-align: top;
	background-color: white;

	@media (max-width: $screen-sm-max) {
		padding: 24px 30px;
	}
	@media (max-width: $screen-xs-max) {
		padding: 24px 20px;
	}

	.g4 {
		@media (max-width: $screen-xs-max) {
			margin-top: 20px;
		}
	}

	div {
		vertical-align: top;

		h5 {
			font-size: 18px;
			font-weight: $base-font-weight;
		}

		p {
			font-size: 14px;
			padding: 30px 0;
		}

		a.footer-download-link {
			font-size: 16px;
			font-weight: $bold-font-weight;
			border-bottom: 1px solid black;
		}

		input {
			margin-top: 20px;
			width: 90%;
		}

		button {
			display: inline-block;
		}

		div.footer-forgot-password {
			display: inline-block;
			margin-left: 15px;
			margin-top: 5px;

			a {
				font-size: 14px;
				display: block;

			}
		}
	}
	
	ul {
		padding-left: 0;
	}

	ul.site-map {
		margin-top: 30px;
		font-size: 14px;

		li {
			margin-bottom: 10px;
		}

		@media (max-width: $screen-xs-max) {
			margin-top: 15px;
		}

		.g2 {
			@media (max-width: $screen-xs-max) {
				margin-bottom: 10px;
			}
		}
	}

	section {
		position: absolute;
		background-color: black;
		width: 100%;
		left: 0;
		margin-top: 60px;
		padding: 10px 60px;

		@media (max-width: $screen-sm-max) {
			margin-top: 20px;
			padding: 10px 30px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 10px 20px;
		}

		h6, a {
			color: white;
			display: inline-block;
			width: 24%;
			font-size: 14px;
			margin: 5px 0;
			@media (max-width: $screen-sm-max) {
				width: 49.2%;
			}
			@media (max-width: $screen-xs-max) {
				width: 100%;
			}
		}
	}
}