#home-carousel {
	background-image: url('../images/homepage.jpg');
	background-size: cover;
	height: 100vh;
	width: 100%;

	.home-carousel-item {
		position: absolute;
		bottom: 60px;
		padding: 0 50px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-end;

		@media (max-width: $screen-sm-max) {
			padding: 0 30px;
		}
		@media (max-width: $screen-xs-max) {
			padding: 0 20px;
		}

		p {
			font-size: 18px;
			color: white;
			@media (max-width: $screen-xs-max) {
				font-size: 14px;
			}
		}

		h2 {
			font-size: 36px;
			font-weight: $bold-font-weight;
			color: white;
			@media (max-width: $screen-xs-max) {
				font-size: 22px;
			}
		}
		h4 {
			font-size: 36px;
			font-weight: $base-font-weight;
			color: white;
			line-height: 1em;
			@media (max-width: $screen-xs-max) {
				font-size: 22px;
				line-height: 1.2em;
			}
		}
	}

	.paginator {
		p {
			font-size: 36px;
			color: $text-inactive-color;

			@media (max-width: $screen-xs-max) {
				font-size: 22px;
			}


			span {
				color: white;
			}
		}
	}
}