.highlight {
	h3 {
		font-size: 22px;
		display: inline-block;
		margin: 15px 0;
	}
	.paginator {
		display: inline-block;
	    float: right;
	    margin: 15px 0;

	    p {
	    	color: $text-inactive-color;
	    	font-size: 22px;
	    }
	}

	h2 {
		margin-bottom: 30px;

		@media (max-width: $screen-md-max) {
			font-size: 26px;
		}
	}

	a {
		font-weight: $bold-font-weight;
		text-decoration: underline;
	}

	.g2 {
		@media (max-width: $screen-sm-max) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
}

