@font-face{
    font-family: Ailerons;
    src: url("font/Ailerons-Typeface.otf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
}

.circle {
    width: 50px;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.first{
    position: absolute;
    top: 26px;
    left: 22px;
}

.second{
    position: absolute;
    top: 26px;
    left: 232px;
}

.wrapper{
    width: 320px;
    height: 433px;
    background-image: url(img/wash_mash.jpg);
    position: relative;
    padding-top: 135px;
}

p{
    display: inline-block;
    position: absolute;
}

.counter{
    top: 36px;
    left: 254px;
}

.timer{
    top: 36px;
    left: 33px;
}

#droppable {
    width: 240px; 
    height: 280px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.draggable{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -20px 0px 0px 0px;
}

/*********VESTITI*********/
.calzini{
    width: 60px;
    height: 71px;
    margin-left: 10px;
}

.camicia{
    width: 80px;
    height: 95px;
    margin-left: -5px;
    margin-top: -10px;
}

.cappello{
    width: 80px;
    height: 49px;
    margin-left: -5px;
}

.jeans{
    width: 70px;
    height: 63px;
}

.magliaVerde{
    width: 80px;
    height: 74px;
    margin-left: 20px;
    margin-top: -20px;
}

.mutande{
    width: 80px;
    height: 60px;
    margin-top: -20px;
}

.pantaloni{
    width: 80px;
    height: 67px;
    margin-top: -20px;
}
/*********end vestiti*********/

.ui-state-hover{
}

.ui-state-active{
    background-color: rgba(73, 172, 174, 0.4);
}

#counter, #timer{
    font-family: Ailerons;
    font-size: 36px;
    color: white;    
}

#winner{
    width: 320px;
    height: 568px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}





