.logo {
  --logo-gap: var(--gap-sm);

  display: inline-flex;
  padding: var(--logo-gap);
  border: 1px solid;
  position: fixed;
  top: var(--logo-gap);
  left: var(--logo-gap);
  z-index: 5;
  color: var(--neutral-light);
  mix-blend-mode: difference;
  font-size: var(--font-size-md);
}

@media screen and (min-width: 1024px) {
  .logo {
    --logo-gap: var(--gap-md);
    font-size: var(--font-size-lg);
  }
}
