main {
  position: relative;
  z-index: 1;
}

.main__spacer {
  width: 100%;
  height: 100vh;
  opacity: .2;
}

.main__content--block {
  height: 100vh;
  width: 100%;
}

.main__content--block img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
