.pointer {
  --pointer-size: 20px;
  --pointer-border-radius: 50%;
  --pointer-background: var(--txt-color);

  width: var(--pointer-size);
  height: var(--pointer-size);
  border-radius: var(--pointer-border-radius);
  border: 2px solid var(--pointer-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}

.pointer::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: var(--pointer-border-radius);
  background-color: var(--pointer-background);
}
